@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
:root {
    --c1: #b7a8b9;
    --c4: #230D26;
    color-scheme: light dark;
}

* {
    color: light-dark(var(--c4), var(--c1));
}

::selection {
    background-color: light-dark(#9f8da1, #916d97);
    color: light-dark(#f8f3f8, #d8cbd9);
}

highlight {
    border-radius: 7px;
    display: inline-block;
    border: 2px solid light-dark(var(--c1), var(--c4));
    background-color: light-dark(var(--c4), var(--c1));
    color: light-dark(var(--c1), var(--c4));
    padding: 0 1rem;
}
highlight::selection {
    background-color: light-dark(#9f8da1, #916d97);
    color: light-dark( var(--c1), var(--c4));
}

body {
    margin: 0;
    padding: 0;
    background-color: light-dark(var(--c1), var(--c4));
    font-size: 1.1rem;
    font-family: "Domine", serif;
    font-style: thin;
    padding: 0 10vw;
}

@media (min-width: 768px) {
    body {
    font-size: 1.22rem;
    }
}

a {
    text-decoration: none;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);            
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}
#loading-msg {
    height: 100px;
    width: 300px;
    color: var(--c1);
    font-size: 2rem;
}