        :root {
            --c1: #A63C9F;
            --c2: #581559;
            --c3: #3B1340;
            --c4: #230D26;
            --cs: #4D308C;
            color-scheme: light dark;
        }

        * {
            color: light-dark(black, white);
        }

        ::selection {
            background-color: light-dark(  var(--c4), var(--c1));
            color: light-dark( white, black);
        }

        highlight-button {
            border-radius: 7px;
            border: 2px solid light-dark(var(--c1), var(--c4));
            /* display: flex;
            justify-content: center;
            align-items: center; */
            background-color: light-dark(var(--c4), var(--c1));
            color: light-dark(var(--c1), var(--c4));
            padding: 0.5rem 1rem;
        }
        highlight-button::selection {
            background-color: light-dark(var(--c1), var(--c4));
            color: light-dark(var(--c4), var(--c1));
        }

        body {
            margin: 0;
            padding: 0;
            background-color: light-dark(var(--c1), var(--c4));

            font-family: 'Playfair Display';
            font-style: Regular;
            font-size: 1.5rem;
            padding: 0 10vw;
        }

        a {
            text-decoration: none;
        }